@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    top: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    position: relative;
}

.container-fluid{
    padding-left: 50px;
}

#rayo{
    color: #2E64FE;
}

#section1 {
    padding-top:300px;
    height:700px;
    color: fff; 
    background-image: url('../assets/img/imagenPos1.jpg');
    background-size: 1450px;
    background-position: center;
    background-repeat: no-repeat;

}
#section2 {
    padding-top: 80px;
    height:700px;
    color: fff; 
    background-color: #FAFAFA;
}
#section3 {
    padding:80px;
    height:700px;
    color: fff; 
    background-color: rgba(255, 255, 255, 0.767);
}

#etiquetaTiempo{
    width: 90%;
    height: 500px;
    box-shadow: 5px -5px 0 #ccc;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #2E64FE;
    color: white;
}

#infor{
    width: 80%;
}

.row{
    display: flex;
    float: center;
}

.col-2{
    height: auto;
    float: center;
    padding: 20px;
    border-radius: 5px;
}

#clima{
    display: inline-table;
}

#tiempo{
    display: inline-table;
    text-align: center;
    width: auto;
}

.col-4{
    padding: 40px;
}

.col-8{
    height: auto;
    width: 50%;
    box-shadow: 5px -5px 0 #ccc;
    border: 1px solid #E6E6E6;
}

#noticias{
    display: inline-table;
    text-align: left;
    width: 400px;
}

#lugarNoticias{
    padding: 15px;
    border-radius: 5px;
}

#pie{
    padding: 50px;
    height: 200px;
    text-align: center;
    background-color: #3A454E;
}


#icono{
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 40px;
    display: inline-table;
}

#final{
    background-color: #2E64FE;
    padding: 20px;
    height: 70px;
    text-align: center;
    color: white
}

#nombre{
    color: white
}